:root {
  --spacing: 100vw;
  --new: calc(var(--spacing) / 1920);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  /* outline: 1px solid red; */
  /* Helps you visualize the boundaries of each element */
}
.box {
    position: relative;
    display: block;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;
}

.box:hover {
    transform: scale(1.05);
}

/* .box::after {
    content: "View";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
} */


html,
body {
  overflow-x: hidden;
  /* Prevent horizontal overflow */
  margin: 0;
  padding: 0;
  width: 100vw;
  background: #FBF6EF;
  /* Ensure full width */

  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

header {
  margin: 0 0;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);

  background-color: #FBF6EF;
  top: 0 !important;
  position: sticky !important;
  display: block;
  z-index: 1000;
  align-items: center;
}

body {
  margin: 0 0;
  padding: 0 0;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}
h3{
  opacity: 1;
}

div {}

.link {
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in;

  background-color: transparent;
}

li a:hover {
  background-color: #00263D;
  color: white;
}

.logo {
  height: 80%;
  display: flex;
  align-items: center;
}

.logo a {
  display: inline-block; /* Ensure the anchor tag is treated as an inline-block element */
  height: 100%; /* Make the anchor tag take the full height of the .logo container */
}

.logo-main {
  height: 80%;
  width: 100%;
  content: url("../img/logo-single.png");


}

.navbar ul {
  display: flex;

  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1vw;
  opacity: 1;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  margin: 0 0;
  padding: 0 0;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  min-width: 100%;
}

.sidepanel {
  position: absolute;
  visibility: hidden;
}

body .hero-section {
  width: 100%;
  height: 80vh;
  position: relative;
  margin: 0 0;
  padding: 0 0;
}

body .landing-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: hue-rotate(200deg) brightness(0.9) contrast(1.1); */
  /* filter: brightness(0.5) contrast(1.2) grayscale(1); */
  filter: brightness(0.9) contrast(1.2) drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));
}

body .tagline {}

body .landing-text {
  position: absolute;
  display: block;
  justify-content: start;

  width: 40%;
  height: 30%;
  top: 60%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: #d9d9d9;
  z-index: 5;
}

body .category-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}

body .carousel {
  visibility: visible;
  margin: auto;
  position: relative;
  overflow-y: hidden;
}




/* .carousel-item {
  overflow: hidden;
  border-radius: 16px;

} */
.carousel-item {
  img{
    height: 80vh;
    object-fit: cover;
    width: 100vw;
  }
}

.carousel-item::after {

    background: radial-gradient(circle, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.5) 100%);
  
}




body .text {
  margin-top: 64px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
}

body .categories {
  display: block;
  position: relative;
  margin: 0 auto;
  height: inherit;
  width: 61%;
  
}

.links {
  height: 35% !important;
  width: 8%;

  display: flex;
  align-items: center;

  justify-content: space-between;
}

.link-img {


  height: inherit;
  width: inherit;
  align-items: center;


  border-radius: 8px;

  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;

}

.links a {
  height: 100%;
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  visibility: hidden;
  position: absolute;
}





.link-img:hover {
  transform: scale(1.1);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

body .box {
  background-color: black;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  position: relative;
  height: 30vh;
  flex: 1 0 344px;
  opacity: 1;
  color: rgb(203, 171, 171);
  overflow: hidden;
  filter: brightness(1.2); /* Add brightness to the box */
}

.category-img {
  height: 100%;
  width: 100%;

  opacity: .4;
  object-fit: cover;
}

.box h3 {
  position: absolute;

  top: 50%;

  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 50;
}

.address-links a {
  text-decoration: underline;
  color: blue;
}

.featured {
  display: block;
  position: relative;
  /* height: inherit; */
  height: 1400px;
}

.featured-1 {
  border-radius: 16px 0 0 0;
  position: absolute;
  top: 0px;
  left: calc(50% - 560px);

  width: 736px;
  height: 520px;
  object-fit: cover;
}

.featured-2 {
  position: absolute;
  border-radius: 0 16px 0 0;
  top: 0px;
  left: calc(50% + 208px);
  background-color: #d9d9d9;
  width: 352px;
  height: 312px;
  object-fit: cover;
}

.featured-3 {
  position: absolute;

  top: 344px;
  left: calc(50% + 208px);
  background-color: #d9d9d9;
  width: 352px;
  height: 624px;
  object-fit: cover;
}

.featured-4 {
  position: absolute;
  top: 552px;
  left: calc(50% - 176px);
  background-color: #040303;
  width: 352px;
  height: 416px;
  object-fit: cover;
}

.featured-5 {
  position: absolute;
  border-radius: 0 0 0 16px;
  top: 552px;
  left: calc(50% - 560px);
  background-color: #d9d9d9;
  width: 352px;
  height: 624px;
  object-fit: cover;
}

.featured-6 {
  position: absolute;
  border-radius: 0 0 16px 0;
  top: 1000px;
  left: calc(50% - 176px);
  background-color: #d9d9d9;
  width: 736px;
  height: 176px;
  object-fit: cover;
}

.gallery {
  width: 60vw;
  margin: 0 auto;
  position: relative;
  height: 115vh;
  transform: scale(1);
  color: #000;
  font-family: Outfit;
}

.contact {
  top: 0px;
  margin: 0 auto;
  width: 60%;
  height: inherit;
  position: relative;
}

.address {
  display: flex;
  gap: 64px;
}

.address-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mapouter {
  display: table;
}

.gmap_canvas {
  overflow: hidden;
  position: relative;
  height: 50vh;
  width: 30vw;
  background: #fff;
}

.gmap_canvas iframe {
  position: relative !important;
  z-index: 2 !important;
  width: 30vw;
  height: 50vh;
}

.gmap_canvas a {
  color: #fff !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
}

footer {
  background: #11415a;
  width: 100vw;
  height: 10vh;
  margin-top: 10%;
}

#carouselExample {
  visibility: hidden;
  position: absolute;
  display: none;
}

@media (max-width: 1024px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 32px;
  }

  body .landing-text {
    position: absolute;
    display: block;
    text-align: center;

    width: 100%;
    height: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .logo {

    width: 20%;
    height: 80%;
    display: flex;
    align-items: center;
  }

  .logo-main {
    outline: 1px solid red;
    position: absolute;
    display: none;

  }

  .logo-main2 {
    height: 100%;

    content: url("../img/Pearl-Oasis-logo.png");
  }

  .container {
    top: 0;
    margin: 0;
    width: 100%;
    padding: 0;
    z-index: 1;
    position: absolute;
  }

  .navbar {
    visibility: hidden;
  }

  body .hero-section {
    width: 100%;
    height: inherit;
    position: relative;
    margin: 0 0;
    padding: 0 0;
  }

  body .landing-img {
    height: 100%;
    object-fit: cover;
  }



  body .categories {
    margin: 0 auto;
    position: inherit;
    height: inherit;
    width: 100%;
  }

  body .box {
    border-radius: 8px;
    opacity: 1;
    height: 10vh;
    flex: 1 0 191px;
  }

  .box h3 {
    position: absolute;

    top: 50%;

    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  .category-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: .4;
  }

  body .category-grid {
    margin: 0 5%;
    gap: 16px;
  }

  body .featured {
    position: relative;
    top: 0px;
    height: auto;
  }

  .gallery {
    visibility: hidden;
    position: absolute;
    display: none;
    height: 0;
    width: 0;
  }

  .logo {
    height: 60%;
    margin: 0;
  }

  .navbar {
    position: absolute;
  }

  .container {
    height: 100px;
  }



  .menu {
    position: relative;
    visibility: visible;
    margin: 0 0;
    padding: 0 0;
    height: 100%;
    width: 100%;
    border: 0px;
    border-radius: 8px;
    background-color: black;
  }

  .hamburger {

    padding: 4px;
    height: 100%;
    width: 100%;
    object-fit: cover;

  }

  .links {
    height: 100%;
    width: 2rem;
  }

  .links a {
    position: absolute;
    display: none;
  }

  .link-img {
    position: absolute;
    visibility: hidden;
    height: 0;
    width: 0;
  }

  .sidepanel {
    visibility: visible;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    /* Specify a height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Stay on top */
    top: 0;
    left: 0;
    text-align: center;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidepanel */
  }

  /* The sidepanel links */
  .sidepanel a {
    padding: 0;
    margin: 0 0 0 0;
    text-decoration: none;
    font-size: 25px;
    color: #818181;

    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }

  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* Remove extra margin around an element */
  .element {
    margin: 0;
  }

  .element {
    border: 1px solid green;
  }

  /* Reduce padding around an element */
  .element {
    padding: 0px;
    /* Adjust the value as needed */
  }

  .menu:hover {
    background-color: #444;
  }

  .address {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 64px;
  }

  .address-links {}

  .contact {
    margin: 0 auto;
    width: 100%;
  }

  .gmap_canvas {
    overflow: hidden;
    position: relative;
    height: 30vh;
    width: 61vw;
    background: #fff;
  }

  .gmap_canvas iframe {
    position: relative !important;
    z-index: 2 !important;
    width: 61vw;
    height: 30vh;
  }

  .carousel {
    visibility: visible;
    margin: 0 0;
    position: relative;
    /* margin-bottom: 300px; */
  }

  .logo-main {
    content: url("img/Pearl-Oasis-logo.png");
  }

  h6 {
    font-size: 16px;
  }

  #carouselExample {
    visibility: visible;
    position: relative;
    display: block;
  }

  .address-links {
    padding: 10%;
  }
}