@import url('styleguide.css');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* Replace values with those from styleguide */
:root {
    --spacing: var(--spacing-md);
    --new: calc(var(--spacing) / 1920);
    --font-family-primary: 'Outfit', sans-serif;
}

html,
body {
    background: var(--color-background);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-normal);
    margin: 0;
    padding: 0;
    width: 100vw;
}

h1 {
    font-size: 64px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1vw;
}

header {
    margin: 0 0;
    justify-content: center;
    background-color: var(--color-background);
    top: 0;
    position: sticky;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
}

header .sidepanel {
    position: absolute;
    visibility: hidden;
}

header .container {
    display: flex;
    margin: 0 0;
    padding: 0 0;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    min-width: 100%;
}

header .container .logo {
    height: 80%;
    display: flex;
    align-items: center;
}

header .container .logo .logo-main {
    height: 80%;
    width: 100%;
    content: url("../img/logo-single.png");
}

header .container .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

header .container .navbar .link {
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in;
    background-color: transparent;
}

header .container .navbar li a:hover {
    background-color: #00263D;
    color: white;
}

header .container .navbar li a {
    font-size: 16px;
    /* Match font size from style.css */
}

header .container .links {
    height: auto !important;
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container .links .link-img {
    height: inherit;
    width: inherit;
    align-items: center;
    border-radius: 8px;
    transition: transform 0.2s ease-in, box-shadow 0.1s ease-out;
}

header .container .links a {
    height: auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .container .links .link-img:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

header .container .links .menu {
    visibility: hidden;
    position: absolute;
}

.container_p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 5vh;
}

.wrap{
    display: flex;
    justify-content: space-between;
    
    width: 70vw;
    height: inherit;
    padding: 20px;
    border-radius: 32px;
    border: 1px solid var(--color-gray);
    
}

.prod_image{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    
}
.prod_image img{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 22px;
    overflow: hidden;
}

.prod_details{
    width: 40%;
    height: inherit;
    display: flex;
    justify-content: start;
    
    flex-direction: column;
    margin-left: 20px;
    padding: 20px;
    border-radius: 22px;
    border: 1px solid var(--color-gray);
}



footer {
    background: var(--color-footer-bg);
    width: 100vw;
    height: 10vh;
    margin-top: var(--spacing-lg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    font-family: var(--font-family-secondary);
  }
  
  footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
  
  footer .footer-content .email-form {
    display: flex;
    align-items: center;
  }
  
  footer .footer-content .email-form input[type="email"] {
    padding: var(--spacing-sm);
    border: none;
    border-radius: var(--border-radius-sm);
    margin-right: var(--spacing-sm);
    font-family: var(--font-family-secondary);
  }
  
  footer .footer-content .email-form button {
    padding: var(--spacing-sm) var(--spacing-md);
    background-color: transparent;
    border: 1px solid var(--color-white);
    border-radius: var(--border-radius-sm);
    color: var(--color-white);
    cursor: pointer;
    font-family: var(--font-family-secondary);
  }
  
  footer .footer-content .email-form button:hover {
    background-color: var(--color-white);
    color: var(--color-dark-blue)
    /* Ensured consistency with about.css and products.css */
  }

@media (max-width: 1024px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 18px;
    }

    header {
        margin: 0 0;
        justify-content: center;
    }

    header .sidepanel {
        visibility: visible;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 32px;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        text-align: center;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }

    header .sidepanel a {
        padding: 0;
        margin: 0 0 0 0;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        transition: 0.3s;
    }

    header .sidepanel a:hover {
        color: #f1f1f1;
    }

    header .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    header .container {
        top: 0;
        margin: 0;
        width: 100%;
        padding: 0;
        z-index: 1;
        position: relative;
        height: 100px;
    }

    header .container .logo {
        display: flex;
        align-items: center;
        height: 60%;
        margin: 0;
        content: url("../img/logo-single.png");
    }

    header .container .logo .logo-main {
        outline: 1px solid red;
        position: absolute;
        display: none;
        content: url("../img/logo-single.png");
    }

    header .container .logo .logo-main2 {
        height: 100%;
        content: url("../img/Pearl Oasis logo.png");
    }

    header .container .navbar {
        visibility: hidden;
        position: absolute;
    }

    header .container .links {
        height: 100%;
        width: 2rem;
    }

    header .container .links .link-img {
        position: absolute;
        visibility: hidden;
        height: 0;
        width: 0;
    }

    header .container .links a {
        position: absolute;
        display: none;
    }

    header .container .links .menu {
        position: relative;
        visibility: visible;
        margin: 0 0;
        padding: 0 0;
        height: 30%;
        width: 100%;
        border: 0px;
        border-radius: 8px;
        background-color: black;
    }

    header .container .links .menu .hamburger {
        padding: 4px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    header .container .links .menu:hover {
        background-color: #444;
    }



    .footer .footer-content {
        display: flex;
        flex-direction: column;
    }

    .footer {
        min-height: 20vh;
        height: auto;
    }

    .footer .footer-content div {
        margin-bottom: 8px;
        margin-top: 8px;
    }

    .footer .footer-content .email-form {
        margin-bottom: 16px;
    }
}