RewriteEngine On


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^product/([0-9]+)/?$ product.php?id=$1 [L]
RewriteRule ^([a-zA-Z0-9_-]+)/?$ $1.php [L]
# Prevent rewriting for assets (css, js, images, etc.)
RewriteRule ^(assets|includes|php|config\.php)(/.*)?$ - [L]